.navigation {
	background-color: @background_color_2;
	border-bottom: 4px solid @color_3;

	.nav-content {
		width: 50%;
		display: flex;

		.selected {
			color: #e3196d;
		}

		a {
			margin: 3% 0;
			padding-left: 5%;
			text-decoration: none;
			color: white;
		}
	}
}
